.review-wrapper {
  max-width: 900px;
  margin: 60px auto;
  background-color: #0000004d;
  border-radius: 1rem;
  padding: 2rem;
  color: #fff;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  font-family: "Inter", sans-serif;
  border:1px solid #ffffff1a;
}

.review-title {
 font-size: 1.875rem;
    line-height: 2.25rem;
  margin-bottom: 1.5rem;
  text-align: left;
  font-weight: 700;
}

.review-offer {
    background-image: linear-gradient(to right,rgb(168 85 247 / .1) , rgb(236 72 153 / .1));
  padding: 1.5rem;
  border:1px solid #a855f733;
  border-radius: 0.5rem;
  font-size: 0.95rem;
 margin-bottom: 1.5rem;
 display: flex;
 flex-direction: column;
 gap: 10px;
 color: #f3e8ff;
}
.review-offer strong{

 color: #e9d5ff;
}
.review-offer div{
    margin-left: 5px;
}
.bonus-text {
  font-weight: 600;
}

.review-form label {
  display: block;
  margin: 29px 0 11px;
  font-weight: 600;
  font-size: 0.9rem;
}

.review-form input[type="text"],
.review-form textarea {
  width: 100%;
  background: #03153a;
  border: 1px solid #13316c;
  border-radius: 6px;
  padding: 10px 14px;
  color: #e5e7eb;
  font-size: 0.89rem;
  outline: none;
  transition: border 0.1s ease;
      font-family: "Inter";
}
.review-form input::placeholder, .review-form textarea::placeholder{
    color: #96a6c4;
}

.review-form input[type="text"]:focus,
.review-form textarea:focus {
  border:2px solid #fa8938;
}

.review-form textarea {
  min-height: 100px;
  resize: vertical;
}

.char-count {
  font-size: 0.8rem;
  color: #9ca3af;
  text-align: left;
  margin-top: 4px;
}
.review-wrapper .stars {
  display: flex;
  gap: 6px;
  margin: 5px 0 14px;
}

.star {
  font-size: 1.9rem;
  color: #555;
  cursor: pointer;
  transition: color 0.2s;
}

.star.filled {
  color: #facc15;
}

.custom-file-container {
  width: 100%;
  position: relative;
  margin-top: -15px;
}

.custom-file-input {
  display: none;
}

.custom-file-label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 100%;
 background: #03153a;
  border: 1px solid #13316c;
  
  border-radius: 6px;
  padding: 12px 20px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.custom-file-label:hover {
  background-color: #0b1f45;
}

.choose-file {
  font-weight: 600;
  color: #ffffff;
  font-size: 0.95rem;
 
}

.no-file {
  color: #c1c6d1;
  font-size: 0.9rem;
  margin-left: 10px;
}

.file-note {
  font-size: 0.78rem;
  color: #9ca3af;
  margin-top: 22px;
}

.button-row {
  display: flex;
  justify-content: space-between;
  gap:20px;
  margin-top: 27px;
}

.cancel-btn {
    flex-basis: 50%;
  background: transparent;
  border: 1px solid #fff3;
  color: #fff;
  padding: 10px 28px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: 'Inter';
  font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 600;
}

.cancel-btn:hover {
    background-color: #ffffff1a;
     border: 1px solid #fa8938;
}

.submit-btn {
    
    flex-basis: 50%;
  background: linear-gradient(to right, #9333ea , #db2777);
  border: none;
  color: #fff;
  padding: 10px 28px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
  font-family: 'Inter';
  font-size: .875rem;
    line-height: 1.25rem;
}

.submit-btn:hover {
    box-shadow: 0 0 40px hsl(25 95% 60% / .4);
  background: linear-gradient(to right, #7e22ce , #be185d);
}
.no-review-allowed {
  padding: 10px 0;
}

.no-review-text {
  color: #ccc;
  margin: 10px 0 31px;
}

.order-btn {
  background: linear-gradient(to right, #9333ea , #db2777);
  border: none;
  color: #fff;
  padding: 10px 25px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s;
  font-family: 'Inter';
  
}

.order-btn:hover {
   box-shadow: 0 0 40px hsl(25 95% 60% / .4);
  background: linear-gradient(to right, #7e22ce , #be185d);
}
